.apts-admin-tenders-button{
  border-color: transparent;
  background-color: transparent;
  color: #000000;
}

.apts-admin-tenders-button:hover{
  background-color: transparent;
  border-color: transparent;
  color: #000000 !important;
}
