.apts-careers-headings {
  padding-top:0px;
}

.apts-careers-headings h3 {
  text-align: center;
  color: #337ab7;
  font-weight: 700;
}

.apts-careers-headings h3:hover {
  color: #23527c;
}

.apts-careers-headings h5 {
  text-align: center;
  color: #337ab7;
}

.apts-careers-headings h5:hover {
  color: #23527c;
}

.apts-careers-headings h4 {
  text-align: center;
  font-weight: 600;
}
