/*Blue */
$btnBG-primary-color:#0386dd;
$btnBG-primary-color-hover:#004995;
$apts-news-background:rgba(3, 134, 221, 0.95);
$marque-bg:#3F80EA;
$card-shadow:#D4EDFF;
$contact-iocn-color:#0386dd;
$dark-purple:#004995 ;
$magenta:#0386dd ;
$innerpageHead: #B4E1FF;
$innerpageHead1: #DEF2FF;
$innerpageHead-color: #004995;
$headding-color:#004995;
$headding-before:#0386dd;
$headding-after:#0386dd;
$about-banner-before:rgba(3, 134, 221, 0.1);
$about-banner-after:rgba(3, 134, 221, 0.1);
$white:#fff;
$successBG:#28a745;
$successBG-Hover:#218838;
$dashBoard-Text:#05386e;
$homePageIcon:#004995;


/*Purpule
$btnBG-primary-color:#766acf;
$btnBG-primary-color-hover:#766acf;
$apts-news-background:rgba(73, 63, 153, 0.95);
$marque-bg:#87a6e3;
$card-shadow:#e5e0fe;
$contact-iocn-color:#ad9ff6;
$dark-purple:#413789 ;
$magenta:#d20870;
$innerpageHead: #f0eefe;
$innerpageHead1: #efedff;
$innerpageHead-color: #45499d;
$headding-color:#766acf;
$headding-before:#bfbdce;
$headding-after:#aa9ffa; 
$about-banner-before:rgba(118,106,207, 0.1);
$about-banner-after:rgba(118,106,207, 0.1);
$white:#fff;
$successBG:#28a745;
$successBG-Hover:#218838;
$dashBoard-Text:#05386e;
$homePageIcon:#AD9FF6;
*/
